---
const today = new Date();
---

<footer>
	&copy;
	<span class="brand">Van Reeuwijk</span>
	<span class="brand-sub">Fruit & Flowers</span>
</footer>
<style>
	footer {
		padding: 2em 1em 4em 1em;
		text-align: center;
		font-size: 32px;
	}
</style>
