---
const displayMenuLink = Astro.url.pathname !== '/' && !Astro.url.pathname.includes('index');
---

<header>
  <nav>
    <a href="/" class:list={[{ active: displayMenuLink }]}>
      <svg width="34" height="34" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><title>ionicons-v5-a</title><polyline points="244 400 100 256 244 112" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/><line x1="120" y1="256" x2="412" y2="256" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
      home
    </a>
  </nav>
  <slot />
</header>
<style>
  header {
    margin: calc(200px - 1rem) auto 0 auto;
    padding: 2rem 0 1rem 0;
    max-width: 1024px;
    display: flex;
    position: relative;
    /* box-shadow: 0 2px 8px rgba(var(--black), 5%); */
  }
  nav {
    /* display: none; */
    z-index: 2;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
  nav a {
    padding: 0.25rem 0.5rem;
    color: var(--black);
    font-size: 22px;
    text-decoration: underline;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;

    padding-right: 1rem;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    display: none;
  }

  nav a.active {
    display: flex;
  }

  @media (min-width: 720px) {
    header {
      margin: 0 auto;
      padding: 2rem 0;
    }

    /* .intro-heading {
      margin: 0 5rem 0 auto;
    } */

    nav {
      position: inherit;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (min-width: 960px) {
    .intro-heading {
      margin: 0 10rem 0 auto;
    }
  }
</style>
