---

---

<div class="menu">
  <slot />
</div>

<style>
  div {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-auto-rows: 45vw;
    grid-auto-flow: dense;
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
  }

  @media only screen and (min-width: 600px) {
    div {
      grid-template-columns: repeat(3, 30vw);
      grid-auto-rows: 30vw;
    }
  }

  @media only screen and (min-width: 960px) {
    div {
      width: 960px;
      margin: 0 auto;
      grid-template-columns: repeat(3, 240px);
      grid-auto-rows: 240px;
    }
  }
</style>
<style is:global>
  @media only screen and (max-width: 600px) {
    .menu div:nth-child(4n-1) {
      grid-column-start: 2;
    }
  }
</style>
