---
import { Image } from 'astro:assets';
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Zelfplukken.nl" description="Zelfplukken - Vers, gezond en erg lekker">
  <div class="container">
    <Image src="/images/plattegrond.webp" title="Plattegrond van zelfplukken" alt="Plattegrond van zelfplukken" width={720} height={1280} quality={100} />
  </div>
</BaseLayout>

<style>
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
</style>
